@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,200&family=Oswald&display=swap');
.footer{
    font-family: 'Fraunces', serif;
    font-size: x-large;
    font-weight: 500;
    align-items: center;
    background-color: #2e81f4;
    margin-top: 100px;
    color: white;
    width: 100%;
    height: auto;
    
}
.footer>img{
    margin: 10px 15px;
    border-radius: 999px;
    border: 8px solid white;
    height: 140px;
    width: auto;
}
.apropos>h2{
    margin-bottom: 15px;
}
.apropos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact>span{
    margin-left: 10px;
}
.social>a>img{
    height: 50px;
    border-radius: 999px;
}
.social{
    margin-left: 15px;
}
.copyright{
    margin-top: 15px;
}